@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LoanAPound</h1>
    <p class="lead">Our loan comparison service is second to none.</p>
    <p>
        <ul>
            <li>Compare cheap loans from multiple providers in one quick and easy search</li>
            <li>Our soft search tool lets you find the right deal without affecting your credit record</li>
            <li>Review the APR, total amount payable, monthly payments and more from a simple table</li>
        </ul>
    </p>
    <p><a href="@Url.Action("Index","Loan")" class="btn btn-primary btn-lg">Search Loans &raquo;</a></p>
</div>
